/*stylelint-disable no-descending-specificity*/

h1, h2, h3, h4, h5, h6 {
    @apply font-headings font-bold;
    text-wrap: balance;
}

// reset margins on headings as tailwind removes them
h1 {
    @apply text-4xl;
    margin: 0.67rem 0;
    @screen lg {
        @apply text-5xl;
    }
}
h2 {
    @apply text-3xl;
    margin: 0.83rem 0;
    @screen lg {
        @apply text-4xl;
    }
}
h3 {
    @apply mt-4 mb-2 text-2xl;
    @screen lg {
        @apply text-3xl;
    }
}
h4 {
    @apply text-lg;
    margin: 1.33rem 0 0.5rem;
    @screen lg {
        @apply text-xl;
    }
}
h5 {
    // uses base font size
    margin: 1.67rem 0;
}
h6 {
    @apply mt-6 mb-2 text-sm;
}

// reduce margin between headings and paragraphs
h3 + p, h4 + p {
    @apply mt-0;
}

// make anchors that are inside headers look like the header, but underline when hovered
h1, h2, h3, h4 {
    a {
        @apply no-underline text-inherit;
        &:hover, &:active {
            @apply underline text-inherit;
        }
    }
}
